.page-title {
				height: 30px;
				font-size: large;
				margin-top: 4px;
				margin-left: 8px;
				color: #87cefa;
			}
			
			body {
				font-size: small;
				overflow-y: hidden
			}
			
			a{
				height:30px
			}
			
		 
			/*.blue {
				color: #0072c6;
			}*/
			
			.blue {
				color: #0099FF;
			}
			
			.dodgerblue {
				color: dodgerblue;
				margin: 3px;
				cursor: pointer;
			}
			
			.green {
				color: #348000;
				margin: 3px;
				cursor: pointer;
			}
			
			.close {
				margin-top: 5px;
				color: deepskyblue;
			}
			
			ul {
				margin: 0;
				padding: 0;
			}
			
			ul li {
				list-style-type: none;
			}
			
			.tab-pane li {
				width: 24%;
				display: inline-block;
			}
			
			table {
				width: 100%;
			}
			.note{
				padding-top: 20px;
				padding-left: 20px;
			}
			
			#tab-1 td,#tab-2 td,#tab-3 td,#tab-4 td{
				width:20%
			}
			
			#tab-1,#tab-2,#tab-3,#tab-4,#tab-5,#tab-6{
				height:247px; 
				overflow:auto
			}	
			
			.img-ship {
				width: 80px;
				height: 95px;
				margin: 4px;
			}
			
			.img-flag {
				width: 25px;
				height: 22px;
			}
			
			.button-style {
				background: lightskyblue;
				border: none;
				margin-right: 50px;
			}
			
			.button-margin{
				margin-right:30px;
			}
			
			.phone-number {
				font-size: 14px;
				color: gray;
				margin-left: 20px;
				margin-right: 20px;
			}
			
			.td-attr {
				width: 46px;
				text-align: right;
			}
			
			.td-attr3 {
				width: 94px;
				text-align: right;
			}
			
			.td-attr4 {
				width: 80px;
				text-align: right;
			}
			
			#tab-5 .td-attr{
				width:130px
			}
			
			#tab-6 .td-attr{
				width:130px
			}
			
			.td-value {
				width: 164px;
				
			}
			
			.td-value2 {
				width: 80px;
			}
			
			.td-value3 {
				width: 184px;
			}
			
			.td-value4 {
				width: 89px;
			}
			
			.td-value5 {
				width:80px;
			}
			
			#tab-5 td,#tab-6 td{
				height:30px;
			}
			
			.tab-pane tr:first-child td{
				border-top-style: none;
				
			} 
			
			button{
				margin-top: 5px;
				}
			 
			table td{
				border:0.2px solid #ECECEC;
				border-width:thin;
				BORDER-RIGHT: medium none;
				BORDER-LEFT: medium none;
				height:20px; 	 
			}
			
			
			 